##
/me.crawl/any-video
/me.crawl/javaCrawling
/me.crawl/wx-crawl
/me.framework/my-framework/bigdata-demo/kudu/Flink-Kudu
/me.framework/my-framework/bigdata-demo/kudu/carrygo
/me.framework/my-framework/bigdata-demo/kudu/cdhproject
/me.framework/my-framework/bigdata-demo/kudu/kafka_kudu
/me.framework/my-framework/bigdata-demo/kudu/kudu-common
/me.framework/my-framework/bigdata-demo/kudu/kudu-mapper
/me.framework/my-framework/bigdata-demo/mongodb/mongo-web-select
/me.knowledge/knowledge-framework
/me.learn/framework/common-security
/me.learn/framework/security
/me.learn/other/bigdata-framework/Java-Interview
/me.learn/other/bigdata-framework/SheepCloud
/me.learn/other/bigdata-framework/TwitterDemo
/me.learn/other/bigdata-framework/elasticsearch-spring-boot-spring-data
/me.learn/other/bigdata-framework/kylin-jdbc-pool
/me.learn/other/bigdata-framework/utils_mongodb
/me.learn/other/coody-framework/coody-icop
/me.learn/other/distribute-transaction-framework/distributedLock
/me.learn/other/kafka-framework/kafka_consumer
/me.learn/other/kafka-framework/kafka_multithread_consumer_model
/me.learn/other/kafka-framework/kafka_producer
/me.learn/other/kafka-framework/springboot-kafka
/me.learn/other/kafka-framework/springboot_hbase_kafka
/me.learn/other/other-framework/presto
/me.learn/other/other-framework/searchanalytics-bigdata
/me.learn/other/other-framework/simba
/me.learn/other/springcloud-framework/bigfans-project/bigfans-cloud
/me.learn/other/springcloud-framework/springboot-project/simba
/me.learn/other/springcloud-framework/springboot-project/spring-boot-chapter
/me.learn/other/springcloud-framework/springboot-project/springboot-itopener
/me.learn/other/springcloud-framework/springboot-project/springboot_cwenao
/me.learn/other/springcloud-framework/springcloud-project/cola-cloud
/me.learn/other/springcloud-framework/springcloud-project/forblog
/me.learn/other/springcloud-framework/springcloud-project/open-capacity-platform
/me.learn/other/springcloud-framework/springcloud-project/spring-cloud-docker-microservice-book-code
/me.learn/other/springcloud-framework/springcloud-project/spring-cloud-docker-microservice-book-code-docker
/me.learn/other/zxue-framework/coody-icop
/me.learn/wxapp/vant-weapp
/me.learn/wxapp/weapp-wechat-zhihu
/me.learn/wxapp/weapp-zhihulive
/me.learn/wxapp/wechat-app-mall
/me.learn/wxapp/wechatApp
/me.learn/wxapp/wechat_applet__open_source
/me.learn/wxapp/weui-wxss

##ignore this file##
/target/

.classpath
.project
.settings

.git

##filter databfile、sln file##
*.mdb
*.ldb
*.sln
##class file##
*.com
*.class
*.dll
*.exe
*.o
*.so
# compression file
*.7z
*.dmg
*.gz
*.iso 
*.jar 
*.rar 
*.tar 
*.zip 
*.via
*.tmp
*.err 
# OS generated files # 
.DS_Store 
.DS_Store? 
._* 
.Spotlight-V100 
.Trashes 
Icon? 
ehthumbs.db 
Thumbs.db